<h1>Illinois</h1>
<a href="/">Home</a>
<br /><br />

<div>
  <p><strong>Total positive:</strong> {{totalPositive}} ({{totalPercentPositive}}%)</p>
  <p><strong>Total deaths:</strong> {{totalDeaths}} ({{totalPercentDeaths}}%)</p>
  <p><strong>Total percent tested:</strong> {{totalPercentTested}}%</p>
</div>

<div class="grid-container">
  <div class="grid-item" id="illinois-daily-positive-cases"></div>
  <div class="grid-item" id="illinois-daily-deaths"></div>
  <div class="grid-item" id="illinois-daily-percent-positive"></div>
  <div class="grid-item" id="illinois-daily-percent-deaths"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  Plotly.newPlot('illinois-daily-positive-cases', {{{ dailyPositiveCasesData }}}, {{{ dailyPositiveCasesLayout }}});
  Plotly.newPlot('illinois-daily-deaths', {{{ dailyDeathsData }}}, {{{ dailyDeathsLayout }}});
  Plotly.newPlot('illinois-daily-percent-positive', {{{ dailyPercentPositiveData }}}, {{{ dailyPercentPositiveLayout }}});
  Plotly.newPlot('illinois-daily-percent-deaths', {{{ dailyPercentDeathsData }}}, {{{ dailyPercentDeathsLayout }}});
</script>
