<h1>States</h1>
<a href="/">Home</a>
<br /><br />

<div class="grid-container">
  <div class="grid-item" id="states-daily-positive-cases"></div>
  <div class="grid-item" id="states-daily-deaths"></div>
  <div class="grid-item" id="states-avg-percent-positive"></div>
  <div class="grid-item" id="states-avg-percent-deaths"></div>
  <div class="grid-item" id="states-hospitalizations"></div>
  <div class="grid-item" id="states-icu"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  Plotly.newPlot('states-daily-positive-cases', {{{ dailyPositiveData }}}, {{{ positiveLayout }}}, { responsive: true });
  Plotly.newPlot('states-daily-deaths', {{{ dailyDeathsData }}}, {{{ deathsLayout }}}, { responsive: true });
  Plotly.newPlot('states-avg-percent-positive', {{{ avgPercentPositiveData }}}, {{{ avgPercentPositiveLayout }}}, { responsive: true });
  Plotly.newPlot('states-avg-percent-deaths', {{{ avgPercentDeathsData }}}, {{{ avgPercentDeathLayout }}}, { responsive: true });
  Plotly.newPlot('states-hospitalizations', {{{ currentHospitalizationData }}}, {{{ currentHospitalizationLayout }}}, { responsive: true });
  Plotly.newPlot('states-icu', {{{ currentIcuData }}}, {{{ currentIcuLayout }}}, { responsive: true });
</script>
