<h1>States</h1>
<a href="/">Home</a>
<br /><br />

<div class="grid-container">
  <div class="grid-item" id="states-daily-positive-cases"></div>
  <div class="grid-item" id="states-daily-deaths"></div>
  <div class="grid-item" id="states-percent-positive"></div>
  <div class="grid-item" id="states-percent-deaths"></div>
  <div class="grid-item" id="states-avg-percent-positive"></div>
  <div class="grid-item" id="states-avg-percent-deaths"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  Plotly.newPlot('states-daily-positive-cases', {{{ dailyPositiveData }}}, {{{ positiveLayout }}});
  Plotly.newPlot('states-daily-deaths', {{{ dailyDeathsData }}}, {{{ deathsLayout }}});
  Plotly.newPlot('states-percent-positive', {{{ percentPositiveData }}}, {{{ percentPositiveLayout }}});
  Plotly.newPlot('states-percent-deaths', {{{ percentDeathsData }}}, {{{ percentDeathsLayout }}});
  Plotly.newPlot('states-avg-percent-positive', {{{ avgPercentPositiveData }}}, {{{ avgPercentPositiveLayout }}});
  Plotly.newPlot('states-avg-percent-deaths', {{{ avgPercentDeathsData }}}, {{{ avgPercentDeathLayout }}});
</script>
