<h1>United States</h1>
<a href="/">Home</a>
<br /><br />

<div>
  <p><strong>Total positive:</strong> {{totalPositive}} ({{totalPercentPositive}}%)</p>
  <p><strong>Total deaths:</strong> {{totalDeaths}} ({{totalPercentDeaths}}%)</p>
  <p><strong>Total tests</strong> {{totalTests}}</p>
  <p><strong>Total recovered:</strong> {{totalRecovered}} ({{totalPercentRecovered}}%)</p>
</div>

<div class="grid-container">
  <div class="grid-item" id="us-daily-positive-cases"></div>
  <div class="grid-item" id="us-daily-deaths"></div>
  <div class="grid-item" id="us-daily-percent-positive"></div>
  <div class="grid-item" id="us-daily-percent-deaths"></div>
  <div class="grid-item" id="us-daily-hospitalized-currently"></div>
  <div class="grid-item" id="us-daily-in-icu-currently"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  Plotly.newPlot('us-daily-positive-cases', {{{ dailyPositiveData }}}, {{{ dailyPositiveLayout }}}, { responsive: true, displayModeBar: false });
  Plotly.newPlot('us-daily-deaths', {{{ dailyDeathsData }}}, {{{ dailyDeathsLayout }}}, { responsive: true, displayModeBar: false });
  Plotly.newPlot('us-daily-percent-positive', {{{ dailyPercentPositiveData }}}, {{{ dailyPercentPositiveLayout }}}, { responsive: true, displayModeBar: false });
  Plotly.newPlot('us-daily-percent-deaths', {{{ dailyPercentDeathsData }}}, {{{ dailyPercentDeathsLayout }}}, { responsive: true, displayModeBar: false });
  Plotly.newPlot('us-daily-hospitalized-currently', {{{ currentHospitalizationData }}}, {{{ currentHospitalizationLayout }}}, { responsive: true, displayModeBar: false });
  Plotly.newPlot('us-daily-in-icu-currently', {{{ inIcuCurrentlyData }}}, {{{ inIcuCurrentlyLayout }}}, { responsive: true, displayModeBar: false });
</script>
